body {
  font-family: Roboto;
}

.btn {
  border-radius: 0;
}

.cpink {
  color: deeppink;
}

.footer-center {
  color:goldenrod;
  font-weight: bold;
  text-align: center;
}

.imgsize {
  width: 200px;
  height: 250px;
}

.imgsize2 {
  width: 150px;
  height: 250px;
}

.imgsize3 {
  width: 150px;
  height: 300px;
}

.lheight {
  line-height: 1.4;
}

.lheight2 {
  line-height: 1.6;
}


.lmargin {
  margin-left: 2vw;
}

. noMargin {
  margin: 0;
}

.noPadding {
  padding: 0;
}

.noVPadding {
  padding-top: 0;
  padding-bottom: 0;
}

.titleStyle {
  text-align: center;
  background-color: azure;
  padding: 2vw;
}

.vspace {
  margin-top: 4px;
}