body {
  font-family: Roboto;
}

.btn {
  border-radius: 0;
}

.cpink {
  color: deeppink;
}

.footer-center {
  color:goldenrod;
  font-weight: bold;
  text-align: center;
}

.lmargin {
  margin-left: 2vw;
}

.imgsize {
  width: 200px;
  height: 250px;
}

.titleStyle {
  text-align: center;
  background-color: azure;
  padding: 2vw;
}

.vspace {
  margin-top: 4px;
}